.inp{
    border: none;
    background-color: rgba(240, 255, 255, 0);
}
.space{
    height: 20px;
}
.btn{
    border: none;
    background-color: rgba(255, 255, 255, 0);
    outline: none !important;
    padding: 20px;
}

.add{
    color: rgb(3, 207, 3);
    
}
.delete{
    color: red;
}
.tb{
display: flex;
justify-content: center;
}
.modal-content{
    background: rgba(255, 255, 255, 0.897);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
}
.sa{
    background-color: rgb(214, 82, 49);
    color: white;
    outline: none ;
}

.sa:hover{
    color: white;
    background-color: chocolate;
}
.bonk{
    font-size: 123px;
    transform: rotate(244deg);
}
